@media screen and (max-width: 950px) {

    footer{
        height: 600px;
    }

    .box-footer-top{
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 3rem;
        padding-bottom: 2.5em;
    }

    .box-footer-top-info{
        align-items: center;
    }
}