@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: auto;
    height: auto;

    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    position: fixed;

    z-index: 100;

}

.header-top {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #E88C24;
    gap: 7rem;
    padding-right: 5rem;
}

.icons-link-header img {
    height: 1.5rem;
}


.header-bottom {
    height: 6rem;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid silver;

    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.img-logo-header img {
    height: 5rem;
}

.box-buttons-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.button-header {
    text-decoration: none;
    color: #E88C24;
    border: none;
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 8.5rem;
    width: 100%;
}


.inicio {
    width: 100%;
    height: 90vh;
    background-image: url(./assets/images/bg-inicio.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 4rem;
}


.box-title-inicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.box-title-inicio h1 {
    font-size: 4em;
    color: white;
}

.box-title-inicio p {
    font-size: 1.7em;
    color: white;
}

.box-title-inicio a {
    color: white;
    background-color: #e88d24d0;
    border: solid 2px #e88d24d0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 4rem;

    text-decoration: none;
}

.box-title-inicio a:hover {
    background-color: #e88d241e;
    border: solid 2px #e88d24d0;
    transition: 300ms;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;

    gap: 5rem;
}

.card-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    color: #E88C24;
    gap: 1rem;
    transition: transform 0.5s ease;
}

.card-servicos img {
    margin-bottom: 1rem;
}

.card-servicos h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.card-servicos p {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.card-servicos:hover {
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 1px 1px 10px silver;
    transition: 1s;
    z-index: 1;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */



.sobre-empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

    border-top: 1px solid #e88d2486;
}

.quem-somos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
}

.box-sobre-empresa-text {
    width: 50%;
    height: 100%;
}
.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #E88C24;

    padding: 10rem 1rem;
    height: 100%;
}

.quem-somos p {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    width: 70%;
}

.quem-somos h2 {
    font-size: 32px;
    font-weight: 500;
    border-bottom: 3px solid #E88C24;
    padding-bottom: 1rem;
}

.linha {
    height: 5px;
    width: 104px;
    background-color: #E88C24;
    margin-bottom: 15px;
}

.entre-em-contato-container {
    display: flex;
    align-items: center;
    color: #FFF;
    width: 100%;
    height: 30rem;
}

.entre-em-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #E88C24;
}

.entre-em-contato h2 {
    font-size: 3em;
    text-align: center;
    width: 70%;
}

.entre-em-contato h2 span {
    color: #527236;
}

.entre-em-contato a {
    color: #000;
    background-color: #ffffffc0;
    border: solid 2px #ffffff88;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 4rem;
    margin-top: 40px;
    font-size: 20px;

    text-decoration: none;
}

.entre-em-contato a:hover {
    background-color: #ffffff2d;
    border: solid 2px #ffffffc0;
    transition: 300ms;
}


.img-sobre-empresa {
    background-image: url(./assets/images/jardim2.png);
}

.img-entre-em-contato-container {
    background-image: url(./assets/images/jardim1.png);
}

.box-image-sobre-empresa {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

.trabalhos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.jardim-box-1 {
    display: flex;
    width: 100%;
    background-color: #527236;
}

.jardim-box-1 img {
    width: 33.33%;
}

.jardim-box-1-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    padding: 10px;
}

.jardim-box-1-text h2{
    font-size: 4.5em;
    color: #3D522A;
}

.jardim-box-2 {
    display: flex;
}

.jardim-box-2 img{
    width: 33.33%;
}

.atendemos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 5rem 1rem;
}

.atendemos-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.atendemos-box h2{
    font-size: 42;
    color: #E88C24;
}

.atendemos-box img{
    height: 40px;
}

.atendemos-email-wpp-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.box-contato-atendemos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box-contato-atendemos a{
    font-size: 1em;
    color: #E88C24;
    
}

.box-contato-atendemos img {
    height: 40px;
}