@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #d07e20ca;
}

*::selection {
    background-color: #e9ad69;
    color: white;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: auto;
    height: auto;

    flex-direction: column;
}

.wpp-fixed {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: rgba(43, 183, 65, 255);
    padding: 15px;
    border-radius: 50%;
    border: solid 2px transparent;
    transition: 300ms;
    box-shadow: #00000086 3px 5px 10px 0px;
    z-index: 10;
}

.wpp-fixed:hover {
    border: solid 2px #fff;
}

.wpp-fixed img {
    height: 40px;
    width: 40px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
}

.inicio {
    width: 100%;
    height: 95vh;
    background-image: url(./assets/images/bg-inicio.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    max-height: 1080px;
}

.box-title-inicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.box-title-inicio h1 {
    font-size: 4em;
    color: white;
}

.box-title-inicio p {
    font-size: 1.7em;
    color: white;
}

.box-title-inicio a {
    color: white;
    background-color: #e88d24d0;
    border: solid 2px #e88d24d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    text-decoration: none;
}

.box-title-inicio a:hover {
    background-color: #e88d241e;
    border: solid 2px #e88d24d0;
    transition: 300ms;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.servicos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 3rem 2rem;
    width: 100%;
    gap: 5rem;
}

.card-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 19rem;
    color: #E88C24;
    gap: 1rem;
    transition: transform 0.5s ease;
    padding: 3px;
}

.card-servicos img {
    margin-bottom: 1rem;
}

.card-servicos h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.card-servicos p {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.card-servicos:hover {
    transform: scale(1.05) !important;
    border-radius: 25px;
    box-shadow: 1px 1px 10px silver;
    transition: 1s !important;
    z-index: 1;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.sobre-empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-top: 1px solid #e88d2486;
}

.quem-somos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
}

.box-sobre-empresa-text {
    width: 50%;
    height: 100%;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #E88C24;
    padding: 10rem 1rem;
    height: 100%;
}

.quem-somos p {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    width: 70%;
}

.quem-somos h2 {
    font-size: 32px;
    font-weight: 500;
    border-bottom: 3px solid #E88C24;
    padding-bottom: 1rem;
}

.linha {
    height: 5px;
    width: 104px;
    background-color: #E88C24;
    margin-bottom: 15px;
}

.entre-em-contato-container {
    display: flex;
    align-items: center;
    color: #FFF;
    width: 100%;
    height: 30rem;
}

.entre-em-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #E88C24;
}

.entre-em-contato h2 {
    font-size: 3em;
    text-align: center;
    width: 80%;
}

.entre-em-contato h2 span {
    color: #527236;
}

.img-sobre-empresa {
    background-image: url(./assets/images/jardim2.png);
}

.img-entre-em-contato-container {
    background-image: url(./assets/images/jardim1.png);
}

.box-image-sobre-empresa {
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

/* ////////////////////////////////////////////////////////////////////////// */

.instagram-contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #527236;
    padding: 5rem 5rem;
}

.instagram-contato-box-left,
.instagram-contato-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.instagram-contato-box-left {
    gap: 3rem;
    flex-direction: column;
}

.instagram-contato-box-left h2 {
    color: white;
    font-size: 1em;
    width: 100%;
}

.instagram-contato-box-left h1 {
    color: #E88C24;
    font-size: 3em;
    width: 100%;
    font-family: "Volkhov", serif;
}

.box-text-contato-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
}

.box-icon-text-contato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.box-text-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    width: 70%;
}

.bg-icon-contato {
    width: 4rem;
    height: 4rem;
    background-color: #E88C24;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text-contato h3 {
    font-weight: bold;
    font-size: 1em;
    width: 100%;
}

.box-text-contato p {
    font-weight: 300;
    font-size: 1em;
    width: 100%;
}

.box-instagram {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28rem;
    height: 30rem;
    border-radius: 30px;
    padding: 1.5rem;
    box-shadow: 40px -100px 200px #e88d2465;
}

.bg-img-instagram {
    background-image: url(./assets/images/img-instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12rem;
    border-radius: 20px;
}


.box-instagram h1 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
}

.box-perfil-instagram {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.box-perfil-instagram img {
    width: 5rem;
}

.box-perfil-instagram a {
    color: black;
    font-size: 0.9em;
    text-decoration: none;
}

.linha-horizontal-laranja {
    width: 11rem;
    height: 5px;
    background-color: #E88C24;
    border-radius: 100px;
}

.content-box-instagram {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.box-icons-instagram {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: auto;
}

.box-icons-instagram-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bg-color-icon-instagram {
    background-color: rgba(214, 214, 214, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
}

.icon-coracao {
    width: 1.8rem;
    height: 1.8rem;
}

/* ///////////////////////////////////// */

.trabalhos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #527236;
}

.jardim-box-1 {
    display: flex;
    width: 100%;
    background-color: #527236;
}

.jardim-box-1-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    padding: 10px;
}

.jardim-box-1-text h2 {
    font-size: 4.5em;
    color: #3D522A;
}

.jardim-box-2 {
    display: flex;
}


.atendemos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 5rem 1rem;
}

.atendemos-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.atendemos-box h2 {
    font-size: 2em;
    color: #E88C24;
}

.atendemos-box img {
    height: 40px;
}

.atendemos-email-wpp-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.box-contato-atendemos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box-contato-atendemos a {
    font-size: 1em;
    color: #E88C24;

}

.box-contato-atendemos img {
    height: 40px;
}

.box-text-trabalhos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 10px;
    padding: 20px;
    opacity: 0;

    transition: 1s;

    background-color: #e9a85ebe;
    color: #445F2D;
}

.box-text-trabalhos h1{
    font-size: 2em;
    text-align: center;
    font-weight: 800;

}

.box-text-trabalhos p{
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}

.background-image-trabalhos{
    width: 33.33%;
    height: 20rem;
    background-size: cover;
    background-position: center;
}


.bg-image-1-trabalho{
    background-image: url(./assets/images/Jardim3.png);
}

.bg-image-2-trabalho{
    background-image: url(./assets/images/Jardim4.png);
}

.bg-image-3-trabalho{
    background-image: url(./assets/images/Jardim5.png);
}

.bg-image-4-trabalho{
    background-image: url(./assets/images/Jardim6.png);
}

.bg-image-5-trabalho{
    background-image: url(./assets/images/Jardim7.png);
}

.box-text-trabalhos:hover{
    opacity: 1;
    transition: 1s;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #445F2D;
    height: auto;
    padding-top: auto;
    width: 100%;
}

.box-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 1em 2em;
}

.logo-footer {
    height: 11rem;
    width: 11rem;
}

.bot-footer-top-icons {
    display: flex;
    gap: 6rem;
}

.bot-footer-top-icons img {
    height: 35px;
}

.box-footer-top-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: white;
}

.box-footer-top-info a {
    text-decoration: none;
    color: #fff;
}

.box-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    color: #fff;
    border-top: solid 1px #ffffff8e;
    height: 3rem;
}

.box-footer-bottom p {
    font-size: 0.9em;
}

.box-footer-bottom a {
    text-decoration: none;
    border-bottom: solid 1px transparent;
    color: #fff;
    transition: 1s;
}

.box-footer-bottom a:hover {
    border-bottom: solid 1px #fff;
    transition: 1s;
}