@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: auto;
    height: auto;

    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    position: fixed;

}

.header-top{
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color:#E88C24;
    gap: 7rem;
    padding-right: 5rem;
}

.icons-link-header img{
    height: 1.5rem;
}


.header-bottom{
    height: 6rem;
    width: 100%;
    display: flex;
    background-color:white;
    border-bottom: 1px solid silver;

    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.img-logo-header img{
    height: 5rem;
}

.box-buttons-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.button-header{
    text-decoration: none;
    color: #E88C24;
    border: none;
    font-weight: bold;
}


main{
    display: flex;
    flex-direction: column;
    margin-top: 8.5rem;
    width: 100%;
}


.inicio{
    width: 100%;
    height: 90vh;
    background-image: url(./assets/images/bg-inicio.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 4rem;
}


.box-title-inicio{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.box-title-inicio h1{
    font-size: 4em;
    color: white;
}

.box-title-inicio p{
    font-size: 1.7em;
    color: white;
}

.box-title-inicio a{
    color: white;
    background-color: #e88d24d0;
    border: solid 2px #e88d24d0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 4rem;

    text-decoration: none;
}

.box-title-inicio a:hover{
    background-color: #e88d241e;
    border: solid 2px #e88d24d0;
    transition: 300ms;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
    
    gap: 5rem;
}

.card-servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    color: #E88C24;
    gap: 1rem;
    transition: transform 0.5s ease;
}

.card-servicos img{
    margin-bottom: 1rem;
}

.card-servicos h2{
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.card-servicos p{
    text-align: center;
    font-size: 1em;
    font-weight: 300;
}

.card-servicos:hover{
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 1px 1px 10px silver; 
    transition: 1s;
    z-index: 10;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.quem-somos-container{
    display: flex;
    color: #E88C24;
    border-top: solid 0.5px #E88C24;
}

.quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #E88C24;
    gap: 1rem;
    padding-left: 130px;
    padding-right: 130px;
}

.quem-somos p{
    font-size: 22px;
    font-weight: 300;
}

.quem-somos h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.linha {
    height: 5px;
    width: 104px;
    background-color: #E88C24;
    margin-bottom: 15px;
}

.entre-em-contato-container {
    display: flex;
    align-items: center;
    color: #FFF;
    width: 100%;
    height: 540px;
}

.entre-em-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #E88C24;
}

.entre-em-contato h2{
    font-size: 64px;
    text-align: center;
}

.entre-em-contato h2 span{
    color: #527236;
}

.entre-em-contato a{
    color: #000;
    background-color: #ffffffc0;
    border: solid 2px #ffffff88;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 4rem;
    margin-top: 40px;
    font-size: 20px;

    text-decoration: none;
}

.entre-em-contato a:hover{
    background-color: #ffffff2d;
    border: solid 2px #ffffffc0;
    transition: 300ms;
}